@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentPortal.Web.Models.Entities.Schedule

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Subject</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post">
            <input asp-for="Days" hidden />
            <div class="p-3">

                <div class="form-floating py-1 col-12">
                    <input asp-for="Days" class="form-control" />
                    <label asp-for="Days" class="ms-2"></label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="StartTime" class="form-control" />
                    <label asp-for="StartTime" class="ms-2"></label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="EndTime" class="form-control" />
                    <label asp-for="EndTime" class="ms-2"></label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="Room" class="form-control" />
                    <label asp-for="Room" class="ms-2"></label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="Section" class="form-control" />
                    <label asp-for="Section" class="ms-2"></label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="SchoolYear" class="form-control" />
                    <label asp-for="SchoolYear" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100 form-control">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Schedules" asp-action="ListSchedule" class="btn btn-secondary w-100 form-control">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>