@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentPortal.Web.Models.Entities.Student

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Add Student</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post">
            <div class="p-3">

                <div class="form-floating py-1 col-12">
                    <input asp-for="Firstname" class="form-control" />
                    <label asp-for="Firstname" class="ms-2"></label>
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="Lastname" class="form-control" />
                    <label asp-for="Lastname" class="ms-2"></label>
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="Middlename" class="form-control" />
                    <label asp-for="Middlename" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100 form-control">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Students" asp-action="List" class="btn btn-secondary w-100 form-control">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>